//- name, num, loc, colour, perc
table.table
  thead
    tr
      th Name
      th Amount Caught
      th Location
      th Rarity
      th Percentage from Location
  tbody
    each d in fishList
      tr
        td= d.name
        td= d.num
        td= d.loc
        if d.colour== 'gold'
          td.is-warning= d.colour
        else if d.colour== 'blue'
          td.is-info= d.colour
        else
          td.is-success= d.colour
        //- td(class="#{d.colour}")= d.colour
        td= d.perc