extends layout

block content
  div.section
    div.container
      div.column
        h1.title Clear Zulu Mentions List
        button(type="button").button.is-primary#rejoinZulu Clear Mentions
      div.column
        label(for="fileInput").title Photo
        form(enctype="multipart/form-data", action="/photo", method="POST").control.is-grouped#uploadForm
          input(type="file", name="userPhoto").input#fileInput
          button(type="submit", value="Upload Image", name="submit").button.is-primary.is-info Submit Photo
      div.column
        label(for="linkInput").title Link
        form(action="/link", method="POST").control.is-grouped
          input(type="text", name="photoLink").input#linkInput
          button(type="submit", value="Upload Link", name="submit").button.is-primary.is-info Submit Link
      div.column
        label(for="todoInput").title Todo
        form(action="/todo", method="POST").control.is-grouped#todoForm
          input(type="text", name="newTodo").input#todoInput
          button(type="submit", value="New Todo", name="submit").button.is-primary.is-info New Todo
  div.section
    div.container
      h1.title#todoh1 Todo
      ul#todoList
        each t in todo
          li.notification
            button(type="button", data-id="#{t.id}").button.is-danger.delete.todoDel
            if t.link
              a(href="#{t.text}", target="_blank")= t.text
            else
              p= t.text
            //- p #{t.text}
  div.section
    div.container
      h1.title#imgurh1 Imgur Links
        span.tag.is-primary= linkList.length
      ul.columns.is-multiline#imgurImg
        each l in linkList
          li.column.is-quarter
            //- button(type="button", data-id="#{l.id}").button.is-danger.imgDel
            //-   i.fa.fa-times
            a(href="#{l.body.link}", target="_blank")
              img(src="#{l.body.link.replace('http://', 'https://')}").image
  div.section
    div.container
      h1.title#zuluh1 Zulu Mentions
      ul#zuluList
        each z in zuluList
          li.notification= z