extends layout

block content
  div.section
    div.container
      div.columns
        div.column
          button(type="button").button.is-primary#rejoinZulu Clear Zulu Mentions
        div.column
          p.control.is-grouped
            input(type="text", placeholder="Number of hours 'til shutdown").input#shutdownNum
            a.button.is-primary#shutdownCommand Shutdown
      div.column
        label(for="fileInput").title Photo
        form(enctype="multipart/form-data", action="/photo", method="POST").control.is-grouped#uploadForm
          input(type="file", name="userPhoto").input#fileInput
          button(type="submit", value="Upload Image", name="submit").button.is-primary.is-info Submit Photo
      div.column
        label(for="linkInput").title Link
        form(action="/link", method="POST").control.is-grouped
          input(type="text", name="photoLink").input#linkInput
          button(type="submit", value="Upload Link", name="submit").button.is-primary.is-info Submit Link
      div.column
        label(for="todoInput").title Todo
        form(action="/todo", method="POST").control.is-grouped#todoForm
          input(type="text", name="newTodo").input#todoInput
          button(type="submit", value="New Todo", name="submit").button.is-primary.is-info New Todo
  div.section
    div.container
      h1.title#todoh1 Todo
      ul#todoList
        each t in todo
          li.notification
            button(type="button", data-id="#{t.id}").button.is-danger.delete.todoDel
            if t.body.link
              a(href="#{t.body.text}", target="_blank")= t.body.text
            else
              p= t.body.text
  div.section
    div.container
      h1.title#imgurh1 Imgur Links
      ul.columns.is-multiline#imgurImg
        each l in linkList
          li.column.is-quarter.imglist
            //- button(type="button", data-id="#{l.id}").button.is-danger.imgDel
            //-   i.fa.fa-times
            a(href="#{l.body.link}", target="_blank")
              img(src="#{l.body.link.replace('http://', 'https://')}").image
  div.section
    div.container
      h1.title#fishh1 Fish Tables
      label(for="fishName").title Add Fish
      form(action="/fish", method="POST").control.is-grouped#fishForm
        input(type="text", name="fishName", placeholder="Fish Name").input#fishName
        input(type="number", name="fishNum", placeholder="Number of Fish").input#fishNum
        input(type="text", name="fishLoc", placeholder="Fish Location").input#fishLoc
        p.control
          span.select
            select#fishType
              option(val="green") Green
              option(val="blue") Blue
              option(val="gold") Gold
        button(type="submit", value="Add Fish", name="submit").button.is-primary.is-info Add Fish
      label(for="fishInput").title Find Fish
      div.control.is-grouped
        span.select.column
          select#locSel
            option(val="test") TEST
        button(value="Select Location", name="Select Location").button.is-primary.is-info#getFishTable Select Location
  div.section
    div.container
      h1.title#zuluh1 Zulu Mentions
      ul#zuluList
        each z in zuluList
          li.notification= z